<!-- menu header responsive -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="~/Userasset/img/cake_logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>

            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>

    </div>

    <nav class="humberger__menu__nav mobile-menu">
        <ul>

            <li><a href="#">Home</a></li>

            <li><a asp-controller="Product" asp-action="Index">Shop</a></li>

            <li> <a href="/page/huong-dan-mua-hang">Shopping guide</a></li>

            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>

            <li><a asp-controller="Home" asp-action="About">About</a></li>

            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
 
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> 2011439@dlu.edu.vn</li>
        </ul>
    </div>
</div>


<!--Header-->
<header class="header">

    <!--header top-->
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2011439@dlu.edu.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/profile.php?id=100013667890742"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/share"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/instagram"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">

                            <div><i class="fa fa-user"></i> Account</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/tai-khoan-cua-toi.html">My account</a></li>
                                }
                                else
                                {
                                    <li><a href="/dang-nhap.html">Login</a></li>
                                    <li><a href="/dang-ky.html">Register</a></li>
                                }
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--body-->
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="~/Userasset/img/cake_logo.png" alt="banh" style="width: 100px;"></a>
                </div>
            </div>
            <!--menu-->
            <div class="col-lg-9">
                <nav class="header__menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a asp-controller="Product" asp-action="Index">Shop</a></li>

                        @* <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                        </li>*@
                        <li><a href="/page/huong-dan-mua-hang">Shopping guide</a></li>

                        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>

                        <li><a asp-controller="Home" asp-action="About">About</a></li>

                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>

                    </ul>
                </nav>
            </div>

            <!--cart-->
            <div class="col-lg-1">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>