<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="./Userasset/img/cake_logo.png"/>
    <title>Cake Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Userasset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userasset/css/style.css" type="text/css">
</head>
 
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Header -->
    <partial name="_HeaderPartialView" />

        @RenderBody()

    <!-- Footer -->
    <partial name="_FooterPartialView" />


    <!-- Js Plugins -->
    <script src="~/Userasset/js/jquery-3.3.1.min.js"></script>
    <script src="~/Userasset/js/bootstrap.min.js"></script>
    <script src="~/Userasset/js/jquery.nice-select.min.js"></script>
    <script src="~/Userasset/js/jquery-ui.min.js"></script>
    <script src="~/Userasset/js/jquery.slicknav.js"></script>
    <script src="~/Userasset/js/mixitup.min.js"></script>
    <script src="~/Userasset/js/owl.carousel.min.js"></script>
    <script src="~/Userasset/js/main.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>